* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
      background-color: burlywood;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    width: 100%;
    background-color: rgb(216, 153, 69);
    color: white;
}

nav ul li{
    padding: 0 12px;
    color: white;
}
nav ul li a{
    text-decoration: none;
}
.brand img{
    width: 200px;
    padding: 0 8px;
    border-radius: 30px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

/* hero-section */
.hero-section {
    border-top: 2px solid white;
    background-image: url(hero.jpeg);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

li a {
    color: white;
}

.foot-panel1 {
    background-color: black;
    border-top: 2px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url(logo.png);
    background-size: cover;
    height: 100px;
    width: 100px;
}

.foot-panel2 {
    background-color: rgb(216, 153, 69);
    color: white;
    height: 50px;
    font-size: 0.7rem;
    text-align: center;
}

.copyright {
    padding-top: 20px;
}

footer span a{
    color: white;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

.form {
    background-color: bisque;
    height: 500px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
}

footer {
    position: sticky;
    bottom: 0;
}