* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
      background-color: burlywood;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    background-color: white;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    width: 100%;
    background-color: rgb(216, 153, 69);
    color: white;
}

nav ul li{
    padding: 0 12px;
    color: white;
}
.brand img{
    width: 200px;
    padding: 0 8px;
    border-radius: 30px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

/* hero-section */
.hero-section {
    background-image: url(hero.jpeg);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-mgs {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-mgs a {
    color: #007185;
}

li a {
    color: white;
}