* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    width: 100%;
}

.nav-list {
    background: transparent;
	backdrop-filter: blur(20px);
	transition: all .3s ease-in;
    width: 100%;
    height: 6vh;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: red;
}

.logo img{
    width: 150px;
    padding: 0 8px;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10px;
    width: 500px;
}

.firstSection {
    background-image: url(hero.jpg);
    background-repeat: no-repeat;
	background-size: cover;
    height: 610px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
}

section p {
    font-size: 4rem;
    padding-right: 30vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.foot-panel {
    background: transparent;
	backdrop-filter: blur(10px);
	transition: all .3s ease-in;
    color: white;
    height: 6vh;
    font-size: 1.5rem;
    text-align: center;
}

.copyright {
    padding-top: 20px;
}

footer span a{
    color: white;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

footer {
    position: sticky;
    bottom: 0;
}

@media(max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
}