* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

.navbar {
    display: flex;
    width: 100%;
}

.nav-list {
    background: transparent;
	backdrop-filter: blur(20px);
	transition: all .3s ease-in;
    width: 100%;
    height: 6vh;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: red;
}

.logo img{
    width: 150px;
    padding: 0 8px;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10px;
    width: 500px;
}

.active {
    background-color: red;
    height: 2px;
}

.background {
    background: rgba(0, 0, 0, 0.7) url(../img/hero1.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 412px;
    width: 800px;
    color: white;
    display: block;
    text-align: center;
    justify-content: left;
    padding-top: 200px;
} 

h1 {
    font-size: 4rem;
}

p {
    padding-top: 30px;
    font-size: 2rem;
}

button {
    margin-top: 30px;
    background-color: blueviolet;
    padding: 4px;
    border-radius: 10px;
    width: 200px;
}

button a {
    text-decoration: none;
    color: white;
}

.insta {
    margin-top: 50px;
    font-size: 1.5rem;
}

.insta i {
    margin-right: 2px;   
}

.insta a {
    text-decoration: none;
    color: white;
}

.foot-panel {
    background: transparent;
	backdrop-filter: blur(10px);
	transition: all .3s ease-in;
    color: white;
    height: 6vh;
    font-size: 1.5rem;
    text-align: center;
}

.copyright {
    padding-top: 20px;
}

footer span a{
    color: white;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

footer {
    position: sticky;
    bottom: 0;
}

@media(max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
}