* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

body {
      background-color: burlywood;
}

.navbar {
    display: flex;

}

.nav-list {
    width: 100%;
    height: 5rem;
    font-size: 1.5rem;
    background-color: rgb(216, 153, 69);
    /* background-color: transparent; */
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 2.6rem 3rem;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: black;
}

.logo img{
    width: 7rem;
    padding: 0 .8rem;
}

.logo {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid white;
    border-radius: 70rem;
    height: 5rem;
    width: 5rem;
}

.firstSection {
    background-image: url(hero.jpeg);
    background-size: cover;
    height: 50rem;
    width: 100%;
}

.foot-panel {
    background-color: rgb(216, 153, 69);
    color: white;
    height: 5rem;
    border-top: .2rem solid white;
    font-size: 1.5rem;
    text-align: center;
}

.copyright {
    padding-top: 2rem;
}

footer span a{
    color: white;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

footer {
    position: sticky;
    bottom: 0;
}

@media(max-width:998px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
}